---
const { textColor, title, subtitle, timelineName } = Astro.props;
---

<section
  id="section"
  class="landing-section h-screen w-full text-center relative overflow-hidden"
  data-header-color={textColor}
  style={{"--timeline-name": timelineName}}
>
  <div id="content" class="z-300 flex flex-col items-center">
    <header class="fixed top-0 left-0 right-0 mx-auto flex flex-col gap-1 w-fit mt-16" >
      <h2 class={`w-full ${textColor} text-[40px] font-mefium`}>
        {title}
      </h2>
      <p class={`w-full ${textColor} text-lg`}>
        {subtitle}
      </p>
    </header>

    <footer class="fixed top-0 left-0 right-0 mx-auto flex flex-col gap-8 mt-[calc(100vh-7rem)] flex-nowrap">
      <slot name="footer" />

      <div>
        <slot name="footer-message"></slot>
      </div>
    </footer>
  </div>

  <slot name="background" />
</section>

<style>

  #section {
    view-timeline-name: var(--timeline-name);
    view-timeline-axis: block;
  }

  #content {
    opacity: 0;

    animation-timeline: var(--timeline-name);
    animation-range: entry 60% cover 70%;
    animation-name: fade-in-and-out;
    animation-fill-mode: both;
  }

  @keyframes fade-in-and-out {
    0%, 100% {
      opacity: 0;
      visibility: hidden;
    }
    40%, 60% {
      opacity: 1;
      visibility: visible;
    }
  }
</style>